* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0.3rem auto;
  color: #3f464d;
  font-family: "Spoqa Han Sans Neo", "Sans-serif";
  background-image: url(/img/background-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0, auto;
  padding: 0 2rem;
}

/* header */
.head-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-container .left {
  display: flex;
}

.class-links {
  margin: 1rem, 0.8rem, 0, 1rem;
  font-size: 17px;
  color: #fff;
  font-weight: normal;
  cursor: pointer;
  padding-bottom: 0.7rem;
}

.class-glass {
  color: #fff;
  font-size: 1.rem;
  margin-left: 0.8rem;
  cursor: pointer;
  padding-top: 0.17rem;
}

.right {
  cursor: pointer;
}

.weather-box {
  display: flex;
  color: #fff;
}

.class-weather {
  display: flex;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  padding-top: 0.4rem;
}

.class-temp {
  margin-left: 0.6rem;
  font-size: 1.6rem;
} 

.class-location {
  color: #fff;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

/* section(above) */
.above-box {
  width: 100%;
  height: 100%;
}

.center-above {
  width: 100%;
  height: 29vh;
}

/* section(Time) */
.main-box {
  width: 100%;
  height: 18vh;
}

.class-clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-time {
  color: #fff;
  font-size: 150px;
  padding-top: 1vh;
}

.class-comment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-name {
  color: #fff;
  font-size: 3.2rem;
  white-space: pre;
}

/*  */
.name-dot {
  display: flex;
}

.user-name {
  color: #fff;
  font-size: 3.2rem;
}

.class-dot {
  color: #fff;
  font-size: 3.2rem;
}

/* section(Input) */
.section-input {
  width: 100%;
  margin-top: 16vh;
}

.class-input {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  width: 480px;
  color: #fff;
  margin: 0 auto;
  padding-top: 4px;
  display: flex;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  font-size: 2rem;
  text-align: center;
}

.class-input-box {
  width: 100%;
  height: 17vh;
}

/* footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-footer {
  display: flex;  
  align-items: center;
  width: 160px;
}

.class-gear {
  color: 	#808080;
  padding-bottom: 0.1rem;
  font-size: 1rem;
  cursor: pointer;
}

.class-photo-author {
  margin-left: 0.5rem;
}

.photo-name {
  color: #fff;
  font-size: 13px;
  display: flex;
}

.articloid {
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sentence {
  color: #fff;
  font-size: 16.3px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
}

.to-do-list {
  width: 160px;
  text-align: right;
}

.todo {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

@media only screen and (max-width: 550px) {
  .class-time {
    font-size: 140px;
  }
  .class-name {
    font-size: 3rem;

  }
  .user-name {
    font-size: 3rem;
  }
  .class-input {
    font-size: 26px;
    
  }
  .text-box {
    width: 430px;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1150px) {
  .articloid {
    display: none;
  }
} 

@media only screen and (min-height: 1080px) {
  .above-box {
    width: 100%;
    height: 36vh;
  }
  .class-input-box {
    width: 100%;
    height: 15vh;
  }
}